/*  Less Framework 4
 *  http://lessframework.com
 *  by Joni Korpi
 *  License: http://opensource.org/licenses/mit-license.php */


/*  Resets
 *  ------  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}


/*  Typography presets
 *  ------------------  */

@font-face {
    font-family: "Aller";
    src: url('./fonts/Aller_Lt.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AllerBold";
    src: url('./fonts/Aller_Bd.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


h1, h2, h3, h4, h5, h6 {
    font-family: AllerBold, serif;
    margin-bottom: 1.5em;
}

ul {
    list-style: disc outside;
}

ul, ol {
    margin-bottom: 1.5em;
}

ul > li,
ol > li {
    line-height: 1.5em;
}

h1 {
    font-size: 1.5em; /* 24px */
    line-height: 1em;
    margin: 1em 0;
}

h2 {
    font-size: 1.375em; /* 22px */
    line-height: 1.0909em;
    margin: 1.0909em 0;
}

h3 {
    font-size: 1.25em; /* 20px */
    line-height: 1.2em;
    margin: 1.2em 0;
}

h4 {
    font-size: 1.125em; /* 18px */
    line-height: 1.3333em;
    margin: 1.3333em 0;
}

h5, h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5em;
    margin: 1.5em 0;
}

p {
    font-size: 1em; /* 16px */
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

small {
    font-size: 0.8125em; /* 13px */
    line-height: 1.8462em;
    margin: 1.8462em 0;
}

body {
    font: 16px/1.5em Aller, sans-serif;
}

/* Selection colours (easy to forget) */

::selection         {background: rgb(255,255,158);}
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/* float clearing for IE6 */
* html .clearfix{
    height: 1%;
    overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
    min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}


/*  Default Layout: 992px. 
 *  Gutters: 24px.
 *  Outer margins: 48px.
 *  Leftover space for scrollbars @1024px: 32px.
 *  -------------------------------------------------------------------------------
 *  cols    1     2      3      4      5      6      7      8      9      10
 *  px      68    160    252    344    436    528    620    712    804    896    */

body {
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.container {
    width: 896px;
    padding: 72px 48px 84px;
    margin: 0 auto;
}

header {
    height: 200px;
    background-image: -webkit-linear-gradient(top, #e21403, #d20f02);
    border-top: 1px solid #de7771;
    border-bottom: 1px solid #a50600;
}

#lastfmlogo, #userlabel, #username {
    float: left;
}

#userlabel {
    color: #fff;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
    font-size: 4em;

    line-height: 53px;

    padding: 0 7px;
}

#user {
    border: 0;
    height: 53px;
    width: 450px;

    font-size: 2em;
    padding-left: 10px;

    border-radius: 53px;
    outline: none;
}

.button {
    border-top: solid 1px #363636;
    border-right: solid 1px #010101;
    border-bottom: solid 1px #010101;
    border-left: solid 1px #363636; 

    box-shadow: inset 1px 1px #656565;
    background-image: -webkit-linear-gradient(top, #4a4a4a, #343434);

    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    line-height: 33px;
    width: 150px;
    height: 33px;
    border-radius: 5px;

    margin: 10px 0 0 10px;
}

.button:hover {
    background-image: none;
    background-color: #222;
    cursor: pointer;
}

.button:active {
    background-color: #555;
}

#question {
    float: left;
    width: 600px;
}

#title {
    margin-top: 0;
}

#question label {
    display: block;

    font-size: 1.2em;
    margin: 15px 0 15px 45px;
}

.answer {
    float: left;
    margin-left: 20px;
}

#cover {
    width: 126px;
    height: 126px;
    float: left;
    background-color: #ccc;

    margin: 30px 0 0 35px;
}

#score {
    text-align: center;
}

#score h3 {
    text-align: center;
    font-size: 2.2em;
}

#score h3 > span {
    font-size: 2em;
    color: #d20f02;
    font-weight: normal;
}

#score > div {
    display: inline-block;
}

#startover, #twitter {
    display: block;
    text-decoration: none;
    float: left;
}

#twitter {
    color: rgba(0, 0, 0, 0.8);

    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    border-right: solid 1px rgba(0, 0, 0, 0.4);
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);

    box-shadow: inset -1px -1px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, #75dcff, #35cdff);
}

#twitter:hover {
    background-image: none;
    background-color: #96e4ff;
}

#twitter:active {
    background-color: #63b9d7;
}



/*  Tablet Layout: 768px.
 *  Gutters: 24px.
 *  Outer margins: 28px.
 *  Inherits styles from: Default Layout.
 *  -----------------------------------------------------------------
 *  cols    1     2      3      4      5      6      7      8
 *  px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    body {
        width: 712px;
        padding: 48px 28px 60px;
    }

}


/*  Mobile Layout: 320px.
 *  Gutters: 24px.
 *  Outer margins: 34px.
 *  Inherits styles from: Default Layout.
 *  ---------------------------------------------
 *  cols    1     2      3
 *  px      68    160    252    */

@media only screen and (max-width: 767px) {
    
    body {
        width: 252px;
        padding: 48px 34px 60px;
    }
    
}


/*  Wide Mobile Layout: 480px.
 *  Gutters: 24px.
 *  Outer margins: 22px.
 *  Inherits styles from: Default Layout, Mobile Layout.
 *  ------------------------------------------------------------
 *  cols    1     2      3      4      5
 *  px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body {
        width: 436px;
        padding: 36px 22px 48px;
    }
    
}
