<header style="height: 100px;">
    <div class="container clearfix" style="padding-top: 20px;">
        <%= image_tag('lastfm.png', {:id => "lastfmlogo", :alt => "last.fm logo"}) %>
        <label id="userlabel" for="username">/<%= session[:username] %></label>    
    </div>
</header>

