<h1>Last.fm Quiz</h1>
<%= form_tag('/quiz/start') do -%>
<div>
  <%= text_field_tag('user') %>
</div>
<div>
  <%= submit_tag('start') %>
<%= link_to "Tweet Score", :controller => "twitter", :action => "tweetScore" %>
</div>
<% end -%>
