<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title>LastFmQuiz</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

<%= yield %>

<%= javascript_include_tag "jquery-1.6.1.min", "less-grid-4" %>

</body>
</html>
